.container-fluid{
   width: 100%;
}

header{
   background-color: #2C3E4F;
}

.box{
   color: white;
}

.intro-main{
   background-color: #1ABB9C;
   height: 250px;   /* placeholder */
}

.intro-main .row{
   text-align: center;
}